<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property resource="application.properties"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%X{traceId} %X{user} %X{ip} %X{method} %X{path} --- %d [%t] %-5p [%c] %m%n</Pattern>
        </layout>
    </appender>
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.file}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${logging.file}_%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>21</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>200MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%X{traceId} %X{user} %X{ip} %X{method} %X{path} --- %d [%t] %-5p [%c] %m%n</Pattern>
        </layout>
    </appender>

    <!--<logger name="com.gi.postgre.core.CriteriaImpl" level="INFO"/>-->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <!--<logger name="com.gi" level="INFO"/>-->

    <root level="INFO">
        <appender-ref ref="logfile"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
