<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head"></head>

<body class="sticky-header">

<section>
    <div th:replace="fragment/leftSide"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >
        <div th:replace="fragment/header"></div>


        <!--body wrapper start-->
        <div id="content" class="wrapper">
            <div th:replace="fragment/sampleContent"></div>
        </div>
        <!--body wrapper end-->

            <footer th:replace="fragment/footer"></footer>

    </div>
    <!-- main content end-->
</section>


<script th:replace="fragment/script"></script>

<script th:src="@{/public.js}"></script>
</body>

</html>
