<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head"></head>

<body style="background: #E3E4E8">

<form class="panel-body" role="form" id="method" onsubmit="return false;"><!--class="form-horizontal"style="background: #E3E4E8"-->
    <div class="wrapper">
        <div class="row">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <h3 class="panel-title">新增服务方法信息</h3>
                </header>
                <input type="hidden" th:value="${entity.Id}" name="entities[id]">
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">方法名称</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="methodName" placeholder="字母数字">
                            </td>
                            <td>
                                <label class="control-label">方法描述</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="description" placeholder="文字">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">是否提供接口出去</label>
                            </td>
                            <td>
                                <select class="form-control" th:name="isInterface">
                                    <option th:value="true" th:text="是"></option>
                                    <option th:value="false" th:text="否"></option>
                                </select>
                            </td>
                            <td>
                                <label class="control-label">方法返回类型</label>
                            </td>
                            <td>
                                <select class="form-control" th:name="isReturnObject">
                                    <option th:value="false" th:text="字段包装类型"></option>
                                    <option th:value="true" th:text="主对象类型"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="主对象" th:text="|主对象->${entity.description}(${entity.name})|"></button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table objTable">
                        <thead>
                        <tr>
                            <th>属性名</th>
                            <th>数据类型</th>
                            <th>选择结果</th>
                            <th>排序类型</th>
                            <th>排序级别</th>
                            <th>选择过滤</th>
                            <th>查询操作符</th>
                            <th>优先级别</th>
                            <th>逻辑操作符</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <input type="hidden" th:value="|${entity.id}_id|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${entity.id}_id|" name="conditionList[][fieldName]">

                            <td th:text="|${entity.name}->id|"></td>
                            <td>String</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <input type="hidden" th:value="|${entity.id}_createDate|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${entity.id}_createDate|" name="conditionList[][fieldName]">

                            <td th:text="|${entity.name}->createDate|"></td>
                            <td>Date</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>

                        <tr>
                            <input type="hidden" th:value="|${entity.id}_updateDate|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${entity.id}_updateDate|" name="conditionList[][fieldName]">

                            <td th:text="|${entity.name}->updateDate|"></td>
                            <td>Date</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">IsNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>
                        <tr th:each="field : ${entity.fields}">

                            <input type="hidden" th:value="|${entity.id}_${field.name}|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${entity.id}_${field.name}|" name="conditionList[][fieldName]">

                            <td th:text="|${entity.name}->${field.name}|"></td>
                            <td th:text="${field.dataType}"></td>
                            <td><input th:type="checkbox" th:value="${field.id}" name="searchResults[][field][id]" ></td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td><input th:type="checkbox" th:value="${field.id}" name="conditionList[][field][id]" ></td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like" th:text="like"></option>
                                    <option th:value="GreaterThan"> > </option>
                                    <option th:value="LessThan" > < </option>
                                    <option th:value="GreaterThanOrEqualTo" > >= </option>
                                    <option th:value="LessThanOrEqualTo" > <= </option>
                                    <option th:value="Between" th:text="between"></option>
                                    <option th:value="In" th:text="in"></option>
                                    <option th:value="IsNull" th:text="isNull"></option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select name="conditionList[][logicOperation]" class="form-control">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <section th:each="relationShip:${entity.mainEntityRelationShips}" class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="关联对象" th:text="|关联对象->${relationShip.relationType}->${relationShip.otherEntity.description}(${relationShip.otherEntity.name})|"></button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table objTable">
                        <thead>
                        <tr>
                            <th>属性名</th>
                            <th>数据类型</th>
                            <th>选择结果</th>
                            <th>排序类型</th>
                            <th>排序级别</th>
                            <th>选择过滤</th>
                            <th>查询操作符</th>
                            <th>优先级别</th>
                            <th>逻辑操作符</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_id|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_id|" name="conditionList[][fieldName]">

                            <td th:text="|${relationShip.otherEntity.name}->id|"></td>
                            <td>String</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_createDate|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_createDate|" name="conditionList[][fieldName]">

                            <td th:text="|${relationShip.otherEntity.name}->createDate|"></td>
                            <td>Date</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>

                        <tr>
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_updateDate|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_updateDate|" name="conditionList[][fieldName]">

                            <td th:text="|${relationShip.otherEntity.name}->updateDate|"></td>
                            <td>Date</td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="searchResults[][field][id]">
                            </td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td>
                                <input th:type="checkbox" th:value="mark" name="conditionList[][field][id]">
                            </td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>

                        </tr>
                        <tr th:each="field2:${relationShip.otherEntity.fields}">
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_${field2.name}|" name="searchResults[][fieldName]">
                            <input type="hidden" th:value="|${relationShip.otherEntity.id}_${field2.name}|" name="conditionList[][fieldName]">

                            <td th:text="|${relationShip.otherEntity.name}->${field2.name}|" ></td>
                            <td th:text="${field2.dataType}" ></td>
                            <td><input th:type="checkbox" th:value="${field2.id}" name="searchResults[][field][id]" ></td>
                            <td>
                                <select name="searchResults[][orderByType]" class="form-control">
                                    <option th:value="desc">降序</option>
                                    <option th:value="asc">升序</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="searchResults[][orderByNum]" class="form-control">
                            </td>
                            <td><input th:type="checkbox" th:value="${field2.id}" name="conditionList[][field][id]" ></td>
                            <td>
                                <select name="conditionList[][operation]" class="form-control">
                                    <option th:value="Equal">=</option>
                                    <option th:value="NotEqual">!=</option>
                                    <option th:value="Like">like</option>
                                    <option th:value="GreaterThan">></option>
                                    <option th:value="LessThan"><</option>
                                    <option th:value="GreaterThanOrEqualTo">>=</option>
                                    <option th:value="LessThanOrEqualTo"><=</option>
                                    <option th:value="Between">between</option>
                                    <option th:value="In">in</option>
                                    <option th:value="IsNull">isNull</option>
                                    <option th:value="IsNotNull">isNotNull</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" th:value="0" name="conditionList[][priority]" class="form-control">
                            </td>
                            <td>
                                <select class="form-control" name="conditionList[][logicOperation]">
                                    <option th:value="|and|" >and</option>
                                    <option th:value="|or|" >or</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>
</form>

<!--</section>-->

<script th:replace="fragment/script"></script>
<script type="text/javascript" th:src="@{/pageJs/method-add.js}"></script>
</body>
</html>
