<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head"></head>

<body style="background: #E3E4E8">

<form class="panel-body" role="form" id="entities" onsubmit="return false;"><!--class="form-horizontal"style="background: #E3E4E8"-->
    <div class="wrapper">
        <div class="row">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <h3 class="panel-title" th:text="|${project.name}-${project.description}|"></h3>
                </header>
            </section>
            <section class="panel" th:each="entities:${project.entities}">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="实体属性" th:text="|${entities.name}-${entities.description}|"></button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table" id="moduleTable">
                        <thead>
                        <tr>
                            <th>名字</th>
                            <th>属性描述</th>
                            <th>数据类型</th>
                            <th>长度</th>
                            <th>默认值</th>
                            <th>是否空</th>
                            <th>是否唯一</th>
                            <th>是否索引</th>
                            <th>参数验证</th>
                        </tr>
                        </thead>
                        <tbody>
                         <tr th:each="field:${entities.fields}">
                            <td th:text="${field.name}">
                                <!--<input type="text" class="form-control" name="fields[][name]" th:value="${field.name}"  placeholder="字母数字下划线">-->
                            </td>
                            <td th:text="${field.description}">
                                <!--<input type="text" class="form-control" name="fields[][description]" th:value="${field.description}" placeholder="文字">-->
                            </td>
                            <td th:text="${field.dataType.toString()}">
                                <!--<select class="form-control" name="fields[][dataType]">-->
                                    <!--<option th:value="String" th:text="字符串" th:if="${field.dataType.toString() eq 'String'}" th:selected="selected"></option>-->
                                    <!--<option th:value="Integer" th:text="整数类型" th:if="${field.dataType.toString() eq 'Integer'}" th:selected="selected"></option>-->
                                    <!--<option th:value="Double" th:text="小数类型" th:if="${ field.dataType.toString() eq 'Double'}" th:selected="selected"></option>-->
                                    <!--<option th:value="Date" th:text="日期类型" th:if="${field.dataType.toString() eq 'Date'}" th:selected="selected"></option>-->
                                    <!--<option th:value="BigDecimal" th:text="BigDecimal" th:if="${field.dataType.toString() eq 'BigDecimal'}" th:selected="selected"></option>-->
                                    <!--<option th:value="Boolean" th:text="布尔类型" th:if="${field.dataType.toString() eq 'Boolean'}" th:selected="selected"></option>-->

                                    <!--<option th:value="String" th:text="字符串" th:unless="${field.dataType eq 'String'}" ></option>-->
                                    <!--<option th:value="Integer" th:text="整数类型" th:unless="${field.dataType eq 'Integer'}" ></option>-->
                                    <!--<option th:value="Double" th:text="小数类型" th:unless="${ field.dataType eq 'Double'}" ></option>-->
                                    <!--<option th:value="Date" th:text="日期类型" th:unless="${field.dataType eq 'Date'}" ></option>-->
                                    <!--<option th:value="BigDecimal" th:text="BigDecimal" th:unless="${field.dataType eq 'BigDecimal'}" ></option>-->
                                    <!--<option th:value="Boolean" th:text="布尔类型" th:unless="${field.dataType eq 'Boolean'}" ></option>-->
                                <!--</select>-->
                            </td>
                            <td th:text="${field.size}">
                                <!--<input type="number" class="form-control" name="fields[][size]" th:value="${field.size}" placeholder="长度" th:title="|不设置默认映射255,本长度设置只对字符串类型起作用,设成text类型需要大于65535|">-->
                            </td>
                            <td th:text="${field.defaultValue}">
                                <!--<input type="text" class="form-control" name="fields[][defaultValue]" th:value="${field.defaultValue}" placeholder="默认值" th:title="|Boolean类型用true和false,日期类型用yyyy-MM-dd hh:mm:ss|">-->
                            </td>
                            <td th:text="${field.isNull}">
                                <!--<select class="form-control" name="fields[][isNull]">-->
                                    <!--<option th:value="false" th:text="否" th:if="${field.isNull ==false}" th:selected="selected"></option>-->
                                    <!--<option th:value="true" th:text="是" th:if="${field.isNull == true}" th:selected="selected"></option>-->

                                    <!--<option th:value="false" th:text="否" th:unless="${field.isNull ==false}" ></option>-->
                                    <!--<option th:value="true" th:text="是" th:unless="${field.isNull == true}" ></option>-->
                                <!--</select>-->
                            </td>
                            <td th:text="${field.isUnique}">
                                <!--<select class="form-control" name="fields[][isUnique]">-->
                                    <!--<option th:value="false" th:text="否" th:if="${field.isUnique ==false}" th:selected="selected"></option>-->
                                    <!--<option th:value="true" th:text="是" th:if="${field.isUnique ==true}" th:selected="selected"></option>-->

                                    <!--<option th:value="false" th:text="否" th:unless="${field.isUnique ==false}"></option>-->
                                    <!--<option th:value="true" th:text="是" th:unless="${field.isUnique ==true}" ></option>-->
                                <!--</select>-->
                            </td>
                            <td th:text="${field.isIndex}">
                                <!--<select class="form-control" name="fields[][isIndex]" >-->
                                    <!--<option th:value="false" th:text="否" th:if="${field.isIndex ==false}" th:selected="selected"></option>-->
                                    <!--<option th:value="true" th:text="是" th:if="${field.isIndex ==true} " th:selected="selected" ></option>-->

                                    <!--<option th:value="false" th:text="否" th:unless="${field.isIndex ==false}" ></option>-->
                                    <!--<option th:value="true" th:text="是" th:unless="${field.isIndex ==true} "  ></option>-->
                                <!--</select>-->
                            </td>
                            <td th:text="${field.validMessage}">
                                <!--<input type="text" class="form-control" name="fields[][validMessage]" th:value="${field.validMessage}" placeholder="验证表达式">-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</form>

<script th:replace="fragment/script"></script>
</body>
</html>
