<link rel="stylesheet" th:href="@{/js/DataTables-1.10.15/media/css/dataTables.bootstrap.css}"/>
<link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}"/>


<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    项目列表
                    <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <div><button type="button" class="btn btn-success" onclick="showAdd()">&nbsp;&nbsp;&nbsp;新增项目&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        <table class="display table table-bordered table-striped" id="projectTable" width="100%">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>描述</th>
                                <th>包路径</th>
                                <th>模块数</th>
                                <th>实体数</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>版本</th>
                                <th>操作</th>
                                <th>下载</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="project:${projects}">
                                <td th:text="${project.name}"></td>
                                <td th:text="${project.description}"></td>
                                <td th:text="${project.packageName}"></td>
                                <td th:text="${project.moduleNum}"></td>
                                <td th:text="${project.entityNum}"></td>
                                <td th:text="${#dates.format(project.createDate,'yyyy-MM-dd hh:mm:ss')}"></td>
                                <td th:text="${#dates.format(project.hierachyDate,'yyyy-MM-dd hh:mm:ss')}"></td>
                                <td th:text="${project.version}"></td>
                                <td>
                                    <a class="btn btn-success btn-xs" th:onclick="|showUpdate('${project.id}',this)|">更新</a>
                                    <a  class="btn btn-danger btn-xs" th:onclick="|deleteById('${project.id}',this)|">删除</a>
                                    <a class="btn btn-info btn-xs" th:href="@{'/projectCtl/goAllEntity/'+${project.id}}">实体列表</a>
                                </td>
                                <td>
                                    <a class="btn btn-success btn-xs" th:href="@{'/codeGeneratorCtl/generateProject/'+${project.id}}">下载代码</a>
                                    <a class="btn btn-success btn-xs" th:href="@{'/codeGeneratorCtl/generateProjectWithStandJar/'+${project.id}}">下载代码2</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->

<script type="text/javascript" language="javascript" th:src="@{/js/DataTables-1.10.15/media/js/jquery.dataTables.js}"></script>
<script type="text/javascript" language="javascript" th:src="@{/js/DataTables-1.10.15/media/js/dataTables.bootstrap.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js/}"></script>-->
<script type="text/javascript" th:src="@{/pageJs/project-list.js}"/>