<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head"></head>

<body style="background: #E3E4E8">

<form class="panel-body" role="form" id="project" onsubmit="return false;"><!--class="form-horizontal"style="background: #E3E4E8"-->
    <div class="wrapper">
        <div class="row">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <h3 class="panel-title">修改项目信息</h3>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">项目名称</label>
                            </td>
                            <td>
                                <input type="hidden" class="form-control" th:name="id" th:value="${project.id}">
                                <input type="hidden" class="form-control" th:name="version" th:value="${project.version}">
                                <input type="text" class="form-control" th:name="name" th:value="${project.name}" placeholder="字母数字">
                            </td>
                            <td>
                                <label class="control-label">项目描述</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="description" th:value="${project.description}"  placeholder="文字">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">基本包名路径</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="packageName" th:value="${project.packageName}" placeholder="字母数字">
                            </td>
                            <td>
                                <label for="inputPassword15" class="control-label">启动端口</label>
                            </td>
                            <td>
                                <input type="number" class="form-control" th:name="port" id="inputPassword15" th:value="${project.port}" placeholder="不填端口随机">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="数据源添加" onclick="addTr('dataSourceTable','datasourceDemoTable')">点击为项目添加数据源</button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table" id="dataSourceTable">
                        <thead>
                        <tr>
                            <th>数据库类型</th>
                            <th>数据源名称</th>
                            <th>备注</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>主数据源</th>
                            <th>数据库ip地址</th>
                            <th>端口号</th>
                            <th>数据库名字</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="projectDataSource:${project.projectDataSources}">
                            <td>
                                <input type="hidden" class="form-control" name="projectDataSources[][id]"  th:value="${projectDataSource.id}">
                                <input type="hidden" class="form-control" name="projectDataSources[][createDate]"  th:value="${projectDataSource.createDate}">
                                <input type="hidden" class="form-control" name="projectDataSources[][version]"  th:value="${projectDataSource.version}">
                                <select class="form-control" name="projectDataSources[][dataBaseType]">
                                    <option th:value="PostgreSql" th:if="${projectDataSource.dataBaseType.toString() eq 'PostgreSql'}" th:selected="selected">PostgreSql</option>
                                    <option th:value="MySQL" th:if="${projectDataSource.dataBaseType.toString() eq 'MySQL'}" th:selected="selected">MySQL</option>


                                    <option th:value="PostgreSql" th:unless="${projectDataSource.dataBaseType.toString() eq 'PostgreSql'}" >PostgreSql</option>
                                    <option th:value="MySQL" th:unless="${projectDataSource.dataBaseType.toString() eq 'MySQL'}" >MySQL</option>

                                </select>

                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][dataSourceNickName]" th:value="${projectDataSource.dataSourceNickName}" placeholder="字母数字">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][markup]" th:value="${projectDataSource.markup}" placeholder="汉字">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][username]" th:value="${projectDataSource.username}" placeholder="字母数字">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][password]" th:value="${projectDataSource.password}" placeholder="字母数字">
                            </td>
                            <td>
                                <select class="form-control" name="projectDataSources[][isMainDataSource]">
                                    <option th:value="false" th:if="${projectDataSource.isMainDataSource.toString() eq 'false'}" th:selected="selected">否</option>
                                    <option th:value="true"  th:if="${projectDataSource.isMainDataSource.toString() eq 'true'}" th:selected="selected" >是</option>

                                    <option th:value="false" th:unless="${projectDataSource.isMainDataSource.toString() eq 'false'}" >否</option>
                                    <option th:value="true"  th:unless="${projectDataSource.isMainDataSource.toString() eq 'true'}" >是</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][hostName]" th:value="${projectDataSource.hostName}"  placeholder="字母数字">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="projectDataSources[][port]"  th:value="${projectDataSource.port}"   placeholder="数字">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="projectDataSources[][dataBaseName]" th:value="${projectDataSource.dataBaseName}"  placeholder="字母数字">
                            </td>
                            <td>
                                <button class="btn btn-danger btn-large" th:onclick="'javascript:deleteRemoteProjectDataSourceTr(\''+${projectDataSource.id}+'\','+this+');'">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="项目模块部署" onclick="addTr('moduleTable','demoTr')">点击为项目添加模块</button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table" id="moduleTable">
                        <thead>
                        <tr>
                            <th>模块名字</th>
                            <th>模块描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="module:${project.modules}">
                                <td>
                                    <input type="hidden" class="form-control" name="modules[][id]"  th:value="${module.id}">
                                    <input type="hidden" class="form-control" name="modules[][createDate]"  th:value="${module.createDate}">
                                    <input type="hidden" class="form-control" name="modules[][version]"  th:value="${module.version}">

                                    <input type="text" class="form-control" name="modules[][name]"  th:value="${module.name}" placeholder="字母数字">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="modules[][description]"  th:value="${module.description}" placeholder="字母数字">
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-large" th:onclick="'javascript:deleteRemoteTr(\''+${module.id}+'\','+this+');'">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</form>

<div hidden="true" >
    <table id="demoTr">
        <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" name="modules[][name]"  placeholder="字母数字">
            </td>
            <td>
                <input type="text" class="form-control" name="modules[][description]"  placeholder="汉字">
            </td>
            <td>
                <button class="btn btn-danger btn-large" onclick="deleteTr(this)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--</section>-->
<div hidden="true" >
    <table id="datasourceDemoTable">
        <tbody>
        <tr>
            <td>
                <select class="form-control" name="projectDataSources[][dataBaseType]">
                    <option th:value="PostgreSql">PostgreSql</option>
                    <option th:value="MySQL">MySQL</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][dataSourceNickName]"  placeholder="字母数字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][markup]"  placeholder="汉字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][username]"  placeholder="字母数字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][password]"  placeholder="字母数字">
            </td>
            <td>
                <select class="form-control" name="projectDataSources[][isMainDataSource]">
                    <option th:value="false">否</option>
                    <option th:value="true">是</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][hostName]"  placeholder="字母数字">
            </td>
            <td>
                <input type="number" class="form-control" name="projectDataSources[][port]"  placeholder="数字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][dataBaseName]"  placeholder="字母数字">
            </td>
            <td>
                <button class="btn btn-danger btn-large" onclick="deleteTr(this)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:replace="fragment/script"></script>
</body>
</html>

<script type="text/javascript" th:src="@{/pageJs/project-update.js}"/>