<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragment/head"></head>-->
<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }

    .button {
        background-color: white;
        color: black;
        font-size: 22px;
        text-align: center;
        text-decoration: none;
    }
</style>
<body style="background: white">

<!--<form class="panel-body" role="form" id="entities" onsubmit="return false;">&lt;!&ndash;class="form-horizontal"style="background: #E3E4E8"&ndash;&gt;-->
<div class="wrapper">
    <div class="row">
        <section class="panel panel-info">
            <header class="panel-heading">
                <h3 class="panel-title" th:text="|${project.name}-${project.description}|"></h3>
            </header>
        </section>
        <hr/>
        <div class="panel" th:each="entities,entitieStat:${project.entities}">
            <header class="panel-heading">
                <button class="btn btn-success" th:text="|${entitieStat.index+1}>>${entities.description}表(${entities.name})|" class="button" disabled></button>
                <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
            </header>
            <br/>
            <div class="panel-body">
                <table class="table  table-hover general-table" id="moduleTable">
                    <thead>
                    <tr>
                        <th>名字</th>
                        <th>属性描述</th>
                        <th>数据类型</th>
                        <th>长度</th>
                        <th>默认值</th>
                        <th>是否空</th>
                        <th>是否唯一</th>
                        <th>是否索引</th>
                        <th>参数验证</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="field:${entities.fields}">
                        <td th:text="${field.name}"></td>
                        <td th:text="${field.description}"></td>
                        <td th:text="${field.dataType.toString()}"></td>
                        <td th:text="${field.size}"></td>
                        <td th:text="${field.defaultValue}"></td>
                        <td th:text="${field.isNull}"></td>
                        <td th:text="${field.isUnique}"></td>
                        <td th:text="${field.isIndex}"></td>
                        <td th:text="${field.validMessage}"></td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table class="table  table-hover general-table" th:if="${#lists.size(entities.mainEntityRelationShips)>0}">
                    <thead>
                    <tr>
                        <th>本实体</th>
                        <th>关联关系</th>
                        <th>关联实体</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mainR:${entities.mainEntityRelationShips}">
                        <td th:text="|${mainR.mainEntity.description}(${mainR.mainEntity.name})|"></td>
                        <td th:text="${mainR.relationType}"></td>
                        <td th:text="|${mainR.otherEntity.description}(${mainR.otherEntity.name})|"></td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table class="table  table-hover general-table" th:if="${#lists.size(entities.mainFieldRelationShips)>0}">
                    <thead>
                    <tr>
                        <th>本实体</th>
                        <th>字段名</th>
                        <th>关联关系</th>
                        <th>关联实体</th>
                        <th>字段名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mainR:${entities.mainFieldRelationShips}">
                        <td th:text="|${mainR.mainEntity.description}(${mainR.mainEntity.name})|"></td>
                        <td th:text="|${mainR.mainField.description}(${mainR.mainField.name})|"></td>
                        <td th:text="${mainR.relationType}"></td>
                        <td th:text="|${mainR.otherEntity.description}(${mainR.otherEntity.name})|"></td>
                        <td th:text="|${mainR.otherField.description}(${mainR.otherField.name})|"></td>
                    </tr>
                    </tbody>
                </table>
                <hr/>
            </div>
        </div>
    </div>
</div>
<!--</form>-->

<!--<script th:replace="fragment/script"></script>-->
</body>
</html>
