<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head"></head>

<body style="background: #E3E4E8">

<form class="panel-body" role="form" id="project" onsubmit="return false;"><!--class="form-horizontal"style="background: #E3E4E8"-->
    <div class="wrapper">
        <div class="row">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <h3 class="panel-title" style="display: inline">新增项目信息</h3>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table">
                        <tbody>
                        <tr>
                            <td>
                                <label class="control-label">项目名称</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="name" placeholder="字母数字">
                            </td>
                            <td>
                                <label class="control-label">项目描述</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="description" placeholder="文字">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">基本包名路径</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:name="packageName" placeholder="字母数字">
                            </td>
                            <td>
                                <label  class="control-label">启动端口</label>
                            </td>
                            <td>
                                <input type="number" class="form-control" th:name="port" placeholder="不填端口随机">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label">是否加密数据源</label>
                            </td>
                            <td>
                                <select class="form-control" th:name="isEncodeDataSource">
                                    <option th:value="true">是</option>
                                    <option th:value="false">否</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="数据源添加" onclick="addTr('dataSourceTable','datasourceDemoTable')">点击为项目添加数据源</button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table" id="dataSourceTable">
                        <thead>
                        <tr>
                            <th>数据库类型</th>
                            <th>数据源名称</th>
                            <th>备注</th>
                            <th>主数据源</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>数据库机器名</th>
                            <th>端口</th>
                            <th>数据库名</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    <button class="btn btn-success" th:alt-title="项目模块部署" onclick="addTr('moduleTable','demoTr')">点击为项目添加模块</button>
                    <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table  table-hover general-table" id="moduleTable">
                        <thead>
                        <tr>
                            <th>模块名字</th>
                            <th>模块描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</form>

<div hidden="true" >
    <table id="demoTr">
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" name="modules[][name]"  placeholder="字母数字">
                </td>
                <td>
                    <input type="text" class="form-control" name="modules[][description]"  placeholder="文字">
                </td>
                <td>
                    <button class="btn btn-danger btn-large" onclick="deleteTr(this)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--</section>-->


<div hidden="true" >
    <table id="datasourceDemoTable">
        <tbody>
        <tr>
            <td>
                <select class="form-control" name="projectDataSources[][dataBaseType]">
                    <option th:value="PostgreSql">PostgreSql</option>
                    <option th:value="MySQL">MySQL</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][dataSourceNickName]"  placeholder="字母数字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][markup]"  placeholder="汉字">
            </td>
            <td>
                <select class="form-control" name="projectDataSources[][isMainDataSource]">
                    <option th:value="false">否</option>
                    <option th:value="true">是</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][username]"  placeholder="字母数字">
            </td>
            <td>
                <input type="password" class="form-control" name="projectDataSources[][password]"  placeholder="字母数字">
            </td>

            <td>
                <input type="text" class="form-control" name="projectDataSources[][hostName]"  placeholder="字母数字">
            </td>
            <td>
                <input type="number" class="form-control" name="projectDataSources[][port]"  placeholder="数字">
            </td>
            <td>
                <input type="text" class="form-control" name="projectDataSources[][dataBaseName]"  placeholder="字母数字">
            </td>
            <td>
                <button class="btn btn-danger btn-large" onclick="deleteTr(this)">删除</button>
            </td>
            <td>
                <button class="btn btn-danger btn-large" onclick="testConnection(this)">测试连接</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:replace="fragment/script"></script>
<script type="text/javascript">
    function testConnection(obj) {
        var form = $(obj).parents("tr");
        var dataBaseType = $(form).find("select[name='projectDataSources[][dataBaseType]']").val();
        var dataBaseName = $(form).find("input[name='projectDataSources[][dataBaseName]']").val();
        var username = $(form).find("input[name='projectDataSources[][username]']").val();
        var password = $(form).find("input[name='projectDataSources[][password]']").val();
        var hostName = $(form).find("input[name='projectDataSources[][hostName]']").val();
        var port = $(form).find("input[name='projectDataSources[][port]']").val();

        var data=new Object();
        data["dataBaseType"]=dataBaseType;
        data["dataBaseName"]=dataBaseName;
        data["username"]=username;
        data["password"]=password;
        data["hostName"]=hostName;
        data["port"]=port;

        data = JSON.stringify(data);
        $.ajax({
            type: "POST",
            url: getRootPath()+"/entitiesCtl/testDatabaseConnection",
            async:false,
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if(data.status=="SUCCESS") {
                    layerSuccessMsg("连接成功！")
                }else{
                    layerFailMsg(data.info+":"+data.data);
                }
            },
            error: function (msg) {
                alert("失败"+msg.responseText);
            }
        });

    }
</script>
</body>
</html>
