<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="山猫">
    <link rel="shortcut icon" href="#" type="image/png}">

    <title>batman科技</title>

    <!--icheck-->
    <link th:href="@{/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
    <link th:href="@{/js/iCheck/skins/square/square.css}" rel="stylesheet">
    <link th:href="@{/js/iCheck/skins/square/red.css}" rel="stylesheet">
    <link th:href="@{/js/iCheck/skins/square/blue.css}" rel="stylesheet">

    <!--dashboard calendar-->
    <link th:href="@{/css/clndr.css}" rel="stylesheet">


    <!--common-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>