<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a th:href="@{https://www.jianshu.com/u/8d438632373c}"><strong>batman</strong></a><!--<img th:src="@{/images/logo.png}" alt="">--></a>
    </div>

    <div class="logo-icon text-center">
        <a th:href="@{/templates/html/index.html}"><img th:src="@{/images/logo_icon.png}" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" th:src="@{/images/photos/user-avatar.png}" class="media-object">
                <div class="media-body">
                    <h4><a href="#">三藏</a></h4>
                    <span>"Hello World ..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">帐户信息</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>主页</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a></li>
                <li><a th:href="@{/goLogin}"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="" onclick="divLoadUrl('content','/goFragment/sampleContent');return false"><i class="fa fa-home"></i> <span>首页</span></a>
            </li>
            <li><a href="" onclick="divLoadUrl('content','/goPage/project-list');return false"><i class="fa fa-book"></i> <span>项目管理</span></a>
            </li>
            <li class="menu-list"><a href="" onclick="return false"><i class="fa fa-cogs"></i> <span>实体管理</span></a>
                <ul class="sub-menu-list" >
                    <li th:each="project:${session.projects}"><a href="" th:onclick="|divLoadUrl('content','/projectCtl/goEntitiesList/${project.id}');return false;|" th:text="|${project.description}|"></a></li>
                </ul>
            </li>
            <li><a href="" onclick="divLoadUrl('content','/codeGeneratorCtl/goProjectCodeGenerator');return false"><i class="fa fa-code"></i> <span>代码生成</span></a>
            </li>

            <li><a th:href="@{/goLogin}"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>

        </ul>
        <!--sidebar nav end-->

    </div>
</div>


</html>